.hero-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
}

.hero-image {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}
#fetch_heroes {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#fetch_heroes:hover {
    background-color: #45a049;
}
